INSTAGRAM_USERNAME=your_bot_username
GROQ_API_KEY=gsk_your_groq_api_key_here
MASTER_USERNAME=your_instagram_username
TARGETS_FILE=targets.txt
GROUP_CHAT_URL=https://www.instagram.com/direct/t/123456789/
HEADLESS=false
DEBUG=false
BOT_NAME=Rosemarry
BOT_NICKNAME=Lina
BOT_AGE=14
BOT_LOCATION=Canada
BOT_BIRTHDAY=July 23
BOT_HOBBIES="skateboarding, playing Roblox, making TikTok edits"
